<!-- Conteúdo da página 'formação' -->

<div class="section h6" id="education">
    <div class="container py-2 cc-education">
        <div class="h1 text-center mb-4 title">Formação</div>
            <div class="row">
                <ul class="timeline">
                    <li>
                        <div class="timeline-panel">
                            <div class="row">
                                <div class="col-lg-6 mt-3">
                                    <div class="h4 mt-0 title">Uninter</div>
                                    <div class="h6 mt-0 title ">Engenharia de Software (02/2021 - Atualmente)</div>
                                </div>    
                            </div>
                        </div>
                    </li>   
                </ul>
            </div>
    </div>
</div>
