<!-- Conteúdo da página com algumas informações sobre mim -->

<div class="text-center h1" >
  <p>Olá, prazer, eu sou o Matheus!</p>
</div>

<div class="text-center my-5 h3" >
  <p>Estou cursando o segundo semestre de engenharia de software na Uninter, e desde então tenho aprendido sobre diversos assuntos nesse vasto mundo do software.</p>
  <p>Além de me interessar pelo mundo da tecnologia, duas das minhas atividades favoritas são a fotografia e a música.</p>
</div>

<!-- box em formato de card com imagens ilustrativas -->
<div style="display: flex;">
    <mat-card style="flex: 1 1 auto;">
      <picture>
        <img class="imgs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqwzeKTqpWBDfLfijPEYlEmWjVo64JQ9CLuA&usqp=CAU">
      </picture>
      <mat-card-content>
        <p>
        <strong>Fotografia</strong>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card style="flex: 1 1 auto;">
      <picture>
        <img width=300 src="https://wallpaperaccess.com/full/5420313.jpg">
      </picture>
      <mat-card-content>
        <p>
        <strong>Música</strong>
        </p>
      </mat-card-content>
    </mat-card>
</div>
