<!-- Conteúdo da página 'contato' -->

<div class="container">
  <h2 class="text-center mb-5 fs-1">Contato</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)"><div class="form-group"> <!-- opção que permite o envio dos dados após preenchimento -->
        <label class="fs-4" for="Email">E-mail</label>
        <input type="email" size=150 class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Digite seu e-mail"formControlName="Email">
        </div>
        <div class="form-group">
          <label class="fs-4" for="fullname">Nome Completo</label>
          <input type="text" class="form-control" name="Fullname" placeholder="Nome Completo" formControlName="Fullname">
        </div>
        <div class="form-group">
          <label class="fs-4" for="comment">Comentário</label>
          <textarea class="form-control" formControlName="Comment" name="Comment">
          </textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!FormData.valid">Submit</button> <!-- os dados só serão enviados se cumprirem as regras no arquivo .ts -->
        </form>
      </div>
    </div>
</div>
