<!-- Conteúdo da página que contém os trabalho executados, com estrutura similar a da página de formação' -->

<div class="section h6" id="portfolio">
    <div class="container py-2 cc-portfolio">
        <div class="h1 text-center mb-4 title">Meus Projetos</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 mt-3">
                                        <div class="h4 mt-0 title">Análise de dados</div>
                                        <div class="h6 mt-0 title ">Rotinas de análise de dados em python, em repositório privado.</div>
                                    </div>    
                                </div>
                            </div>
                        </li>   
                    </ul>
                </div>
    </div>
</div>
